.allBackground {
  height: 100vh;
  padding-top: 4rem;

  .contentAllBackground {
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    article {
      h1 {
        font-size: 1.9rem;
        font-weight: bold;
        margin-bottom: 2rem;
        // width: 80%;
      }
    }
    img {
      width: 60%;
    }
  }
}

