.form {
  input {
    padding: 0.80rem;
    border-radius: 0.25rem;

    &::placeholder {
      color: #CCC;
      font-family: Raleway;
    }
  }

  button {
    padding: 0.80rem;
    border-radius: 0.25rem;
    border: 1px solid #0791e0;
    background: #0791e0;
    color: #fff;

    transition: filter 0.2s;

    &:hover {
      cursor: pointer;
      filter: brightness(1.20);
      color: #fff;
    }
  }
}